<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Chess</title>
        <script src="/webjars/jquery/3.2.0/jquery.min.js"></script>
        <script src="roomDiscovery.js"></script>
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    <body>

        <button onclick="createRoom();">Create a room</button>

        <br><br>

        <table id="roomsTable" class="tg">
            <thead>
            <tr>
                <th class="tg-b3sw" width="350px">Room ID</th>
                <th class="tg-b3sw">Join as white</th>
                <th class="tg-b3sw">Join as black</th>
                <th class="tg-b3sw">Delete room</th>
            </tr>
            </thead>
        </table>

    </body>
</html>